{% extends "admin/layout.html" %}
{% block body %}

                 <!-- Begin Page Content -->
                 <div class="container-fluid">

                    <!-- Area Chart -->
                    <div class="col-xl-6 col-lg-7 mx-auto pt-3">
                              <div class="card shadow mb-4">
                                  <!-- Card Header - Dropdown -->
                                  <div
                                      class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                      <h6 class="m-0 font-weight-bold text-primary">Edit Stock</h6> 
                                  </div>

                                  <!-- Card Body -->
                                  <div class="card-body">
                                      <div id='Candlestickgraph' class='chart'>

                                        <form action="/admin/edit_stock" method="post">
                                        <div class="form-group row">
                                                  <label for="colFormLabel" class="col-sm-2 col-form-label">Symbol</label>
                                                  <div class="col-sm-10">
                                                    <input type="email" class="form-control" name="symbol" id="symbol" placeholder="Enter Symbol">
                                                  </div>
                                        </div>

                                        <div class="form-group row">
                                                  <label for="colFormLabel" class="col-sm-2 col-form-label">Stock Name</label>
                                                  <div class="col-sm-10">
                                                    <input type="email" class="form-control" name="stockname" id="stockname" placeholder="Enter Stock Name">
                                                  </div>
                                        </div>

                                        <div class="form-group row">
                                                  <label for="colFormLabel" class="col-sm-2 col-form-label">Last Price</label>
                                                  <div class="col-sm-10">
                                                    <input type="email" class="form-control" name="lastprice" id="lastprice" placeholder="Enter Last Price">
                                                  </div>
                                        </div>

                                        <div class="form-group row">
                                                  <label for="colFormLabel" class="col-sm-2 col-form-label">Industry</label>
                                                  <div class="col-sm-10">
                                                    <input type="email" class="form-control" name="industry" id="industry" placeholder="Enter Industry">
                                                  </div>
                                        </div>

                                        <div class="form-group row">
                                                  <label for="colFormLabel" class="col-sm-2 col-form-label">Stock Type</label>
                                                  <div class="col-sm-10">
                                                    <input type="email" class="form-control" name="stocktype" id="stocktype" placeholder="Enter Stock Type">
                                                  </div>
                                        </div>

                                        <div class="form-group row">
                                                  <label for="colFormLabel" class="col-sm-2 col-form-label">Exchange</label>
                                                  <div class="col-sm-10">
                                                    <input type="email" class="form-control" name="exchange" id="exchange" placeholder="Enter Exchange">
                                                  </div>
                                        </div>

                                        <div class="col-auto text-center pt-3">
                                                  <button type="submit" class="btn btn-primary mb-2">Save Changes</button>
                                        </div>

                                      </form>
                                      </div>
                                  </div>
                              </div>
                    </div>



                </div>
                <!-- /.container-fluid -->

            </div>

{% endblock %}