{% extends "layout.html" %}
{% block body %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">SIP</h1>


                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-7">
                              <div class="card shadow mb-4">
                                  <!-- Card Header - Dropdown -->
                                  <div
                                      class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                      <h6 class="m-0 font-weight-bold text-primary">SIP</h6> 
                                  </div>

                                  <!-- Card Body -->
                                  <div class="card-body">
                                      <div id='Candlestickgraph' class='chart'>


                                        <div class="row">
                                            <div class="col">
                                                <form>
                                                    <div class="form-group">
                                                      <label class="pt-4 pb-2" for="formControlRange">Monthly investment</label>
                                                      <input type="number" class="form-control-inline right" id="demo">
                                                      <input type="range" id="myRange" class="form-control-range" min="1000" max="100000" value="500">
                                                    </div>
                                                    <div class="form-group">
                                                      <label class="pt-5 pb-2" for="formControlRange">Expected return rate (p.a)</label>
                                                      <p class="form-control-inline align-self-left" id="demo1"></p>
                                                      <input type="range" id="myRange1" class="form-control-range" min="1" max="30" value="12">
                                                    </div>
                                                    <div class="form-group">
                                                      <label class="pt-5 pb-2" for="formControlRange">Time period</label>
                                                      <p class="form-control-inline right" id="demo2"></p>
                                                      <input type="range" id="myRange2" class="form-control-range" min="1" max="40" value="10">
                                                    </div>
        
                                                    <div class="inline">
                                                        <label class="pt-3"><b>Invested amount:-</b></label><label class="pl-3" id="democlone">10000</label><br>
                                                        <label class="pt-3"><b>Est. returns:-</b></label><label class="pl-3" id="democlone1">10000</label><br>
                                                        <label class="pt-3"><b>Total value:-</b></label><label class="pl-3" id="democlone2">10000</label>
                                                    </div>
                                                  </form>
                                            </div>

                                            <div class="col">
                                              <canvas id="myChart"></canvas>
                                            </div>
                                        </div>


                                        
                                        


                                      </div>
                                  </div>
                              </div>
                    </div>



                </div>
                <!-- /.container-fluid -->

            </div>
            <script>
              var slider = document.getElementById("myRange");
              var slider1 = document.getElementById("myRange1");
              var slider2 = document.getElementById("myRange2");
              var P= slider.value;
              var n= slider2.value*12;
              var i= (slider1.value/100)/n;
              var M = P*((Math.pow((1+i), n)-1) / i)*(1 + i);
              document.getElementById("demo").value = slider.value;
              document.getElementById("demo1").innerHTML = slider1.value+" %";
              document.getElementById("demo2").innerHTML = slider2.value+" y";
              document.getElementById("democlone").innerHTML =(P*n).toFixed(0);
              document.getElementById("democlone1").innerHTML = (M-P*n).toFixed(0);
              document.getElementById("democlone2").innerHTML = (M).toFixed(0);
              new Chart("myChart", {
                type: "doughnut",
                data: {
                  labels: ["Invested amount", "Est. returns"],
                  datasets: [{
                    backgroundColor: ["#b91d47","#00aba9"],
                    data: [(P*n).toFixed(0), (M-P*n).toFixed(0)]
                  }]
                },
                options: {
                  title: {
                    display: true,
                    text: "World Wide Wine Production 2018"
                  }
                }
              });



              slider.oninput = function() {
                document.getElementById("demo").value = this.value;
                var P= slider.value;
                var n= slider2.value*12;
                var i= (slider1.value/100)/n;
                var M = P*((Math.pow((1+i), n)-1) / i)*(1 + i);
                document.getElementById("democlone").innerHTML =(P*n).toFixed(0);
                document.getElementById("democlone1").innerHTML = (M-P*n).toFixed(0);
                document.getElementById("democlone2").innerHTML = (M).toFixed(0);
                new Chart("myChart", {
                type: "doughnut",
                data: {
                  labels: ["Invested amount", "Est. returns"],
                  datasets: [{
                    backgroundColor: ["#b91d47","#00aba9"],
                    data: [(P*n).toFixed(0), (M-P*n).toFixed(0)]
                  }]
                },
                options: {
                  title: {
                    display: true,
                    text: "World Wide Wine Production 2018"
                  }
                }
              });
              }

              slider1.oninput = function() {
                document.getElementById("demo1").innerHTML = this.value+" %";
                var P= slider.value;
                var n= slider2.value*12;
                var i= (slider1.value/100)/n;
                var M = P*((Math.pow((1+i), n)-1) / i)*(1 + i);
                document.getElementById("democlone").innerHTML =(P*n).toFixed(0);
                document.getElementById("democlone1").innerHTML = (M-P*n).toFixed(0);
                document.getElementById("democlone2").innerHTML = (M).toFixed(0);
                new Chart("myChart", {
                type: "doughnut",
                data: {
                  labels: ["Invested amount", "Est. returns"],
                  datasets: [{
                    backgroundColor: ["#b91d47","#00aba9"],
                    data: [(P*n).toFixed(0), (M-P*n).toFixed(0)]
                  }]
                },
                options: {
                  title: {
                    display: true,
                    text: "World Wide Wine Production 2018"
                  }
                }
              });
              }

              slider2.oninput = function() {
                document.getElementById("demo2").innerHTML = this.value+" y";
                var P= slider.value;
                var n= slider2.value*12;
                var i= (slider1.value/100)/n;
                var M = P*((Math.pow((1+i), n)-1) / i)*(1 + i);
                document.getElementById("democlone").innerHTML =(P*n).toFixed(0);
                document.getElementById("democlone1").innerHTML = (M-P*n).toFixed(0);
                document.getElementById("democlone2").innerHTML = (M).toFixed(0);
                console.log((Math.pow((1+i), n)-1)*(1 + i))
                new Chart("myChart", {
                type: "doughnut",
                data: {
                  labels: ["Invested amount", "Est. returns"],
                  datasets: [{
                    backgroundColor: ["#b91d47","#00aba9"],
                    data: [(P*n).toFixed(0), (M-P*n).toFixed(0)]
                  }]
                },
                options: {
                  title: {
                    display: true,
                    text: "World Wide Wine Production 2018"
                  }
                }
              });
              }
              </script>
            <!-- End of Main Content -->

{% endblock %}