{% extends "layout.html" %}
{% block body %}
         <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{{hashpwd}}Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>
                    
                    
                    <div class="row">
                    <div class="col-xl-12 col-lg-7">
                        <div class="media">
                            <img src="static\img\nifty.svg" width="9%" class="rounded-circle align-self-center mr-3" alt="...">
                            <div class="media-body">
                              <h1 class="mt-0">{{ob.getinfo.info['symbol']}}</h1>
                              <h1 style="display:inline-block;"><b>{{ob.stock.loc[ob.stock['Close'].size-1,'Close'].round(2)}}<span style="font-size:1.2rem; ">INR </span></b></h1> &nbsp;
                              <span style="color: rgb(8, 153,129)">
                                    <h4 style="display:inline-block;"><b>+{{ob.stock.loc[ob.stock['Change'].size-1,'Change'].round(2)}}</b></h4>&nbsp;&nbsp;
                                    <h4 style="display:inline-block;"><b>+{{ob.stock.loc[ob.stock['Change%'].size-1,'Change%'].round(2)}}%</b></h4>
                              </span>
                              <p>Last update at Apr 26, 15:29 GMT+5:30</p>
                            </div>
                          </div>   
                    </div>
                            
                    
                        <div class="col-xl-12 col-lg-7 pt-3">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div id='obgraph' class='chart'></div>
                                </div>
                                <div class="card-footer">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-light">1D</button>
                                        <button type="button" class="btn btn-light">1W</button>
                                        <button type="button" class="btn btn-light">1M</button>
                                        <button type="button" class="btn btn-light">3M</button>
                                        <button type="button" class="btn btn-light">6M</button>
                                        <button type="button" class="btn btn-light">1Y</button>
                                        <button type="button" class="btn btn-light">5Y</button>
                                        <button type="button" class="btn btn-light">MAX</button>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <form action="/" method="GET">
                        <div class="form-row px-5 mx-5 mb-4">
                        <div class="form-group col-md-6 col-xl-4">
                            <label for="">Stock Symbol Name</label>
                            <input type="text" class="form-control" placeholder="Stock Symbol Name" name="SymbolName" value="SBIN.NS">
                        </div>
                        <div class="form-group col-md-6 col-xl-2">
                            <label for="">Start Date</label>
                            <div class="datepicker date input-group">
                                <input type="text" placeholder="Choose Date" class="form-control" id="fecha1" name="StartDate">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-xl-2">
                            <label for="">End Date</label>
                            <div class="datepicker date input-group">
                                <input type="text" placeholder="Choose Date" class="form-control" id="fecha1" name="EndDate">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-xl-2">
                            <label for="">Interval</label>
                            <select id="inputState" class="form-control" name="Interval">
                                <option selected value="1d">1 Day</option>
                                <option value="7d">1 Week</option>
                                <option value="1mo">1 Month</option>
                                <option value="3mo">3 Month</option>
                                <option value="6mo">6 Month</option>
                                <option value="1y">1 Year</option>
                                <option value="5y">5 Year</option>
                                <option value="max">Max</option>
                              </select>
                        </div>
                        <div class="form-group col-md-6 col-xl-2">
                            <label for=""><br></label>
                            <button type="submit" class="btn btn-primary btn-block">
                                Show Chart
                            </button>
                        </div>
                    </div>  
                    </form>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

{% endblock %}